<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hungry now website">
        <meta name="author" content="">
        <title>Hungry Now - Orders</title>
        <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
        <link href="lib/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="lib/css/styles.css">
        <style type="text/css">
        body{
            color: #59934A;
        }
        .dropdown-menu{
            top: 0;
            left: 7px;
            min-width: 10px;
        }
        </style>
    </head>
    <body>
        <div class="page">
            <header>
                <nav class="navbar navbar-static-top shadow-header section-content">
                    <div class="page-container container-fluid clearfix">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle Navigation</span>
                                <i class="fa fa-lg fa-bars"></i>
                            </button>
                            <a href="hungrynow.parseapp.com" class="navbar-brand">
                                <img class="brand-image" src="lib/images/logo.png">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse top-navbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-tab active"><a class="capitalized" href="">Orders</a>
                                </li>
                                <!--<li class="nav-tab"><a class="capitalized" href="">Become a home chef</a>
                                </li>
                                <li class="nav-tab web-only"><a><i class="fa fa-lg fa-bars"></i></a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section>
                <div class="row section-content table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Items Ordered</th>
                                <th>Address</th>
                                <th>Order status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% results.forEach(function(result){ %>
                                <tr>
                                    <td><%= result.objectId %></td>
                                    <td><%= result.email %></td>
                                    <td>+<%= result.contact_no %></td>
                                    <td><% result.item_list.forEach(function(item) { %><p><%= item.name %> : <%= item.quantity %></p><% }); %></td>
                                    <td><%= result.address.address_line_1 %><br/><%= result.address.address_line_2 %><br/><%= result.area.name %><br/><%= result.area.pin_code %> <%= result.city.name %><br/><%= result.state.name %> <%= result.country.name %></td>
                                    <% if(result.order_status == 10){ %> <td class="order-status">Delivered<br/></td><% }else{ %><td class="order-status">Not Delivered<br/><br/><button type="button" class="btn btn-info order-status-change" data-orderId="<%= result.objectId %>">Delivered</button></td> <% } %>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </section>
            <footer>
                <div class="row section-content">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
                        <h5>&copy; 2015 HungryNow. All Rights Reserved</h5>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/js/parse.min.js"></script>
        <script type="text/javascript" src="lib/js/app_base.js"></script>
        <script type="text/javascript" src="lib/js/orders-script.js"></script>
    </body>
</html>