<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="description" content="Hungry now website">
    <meta name="author" content="">
    <title>Hungry Now</title>
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link href="lib/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="lib/css/styles.css">
</head>
<body>
    <div class="page">
        <header>
            <nav class="navbar navbar-static-top shadow-header section-content">
                <div class="page-container container-fluid clearfix">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <i class="fa fa-lg fa-bars"></i>
                        </button>
                        <a href="" class="navbar-brand">
                            <img class="brand-image" src="lib/images/logo.png">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse top-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-tab active"><a class="capitalized" href="">Today's Menu</a>
                            </li>
                            <!--<li class="nav-tab"><a class="capitalized" href="">Become a home chef</a>
                            </li>
                            <li class="nav-tab web-only"><a><i class="fa fa-lg fa-bars"></i></a>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="row section-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-content">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-place-div shadow">
                        <h3 class="phone-number-text col-lg-8 col-md-8 col-sm-8 col-xs-10 col-xs-offset-1 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 web-only">Order on WhatsApp +91-974-201-4919</h3>
                        <h4 class="phone-number-text col-lg-8 col-md-8 col-sm-8 col-xs-12 mob-only">Order <i class="fa fa-whatsapp"></i> +91-974-201-4919</h4>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 place-order-div to-hide">
                            <button class="btn capitalized order-summary" data-toggle="modal" data-target="#order-modal">0 items</button>
                            <button class="btn capitalized place-order" data-toggle="modal" data-target="#order-modal">place order</button>
                        </div>
                    </div>
                    <div id="menu-grid" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-grid">
                        <% results.forEach(function(result){ %>
                            <div class="center col-lg-6 col-md-6 col-sm-6 col-xs-12 menu-grid-item">
                                <div class="item-image shadow" style="background-image:<% if(result.quantity_remaining == 0){ %>url('lib/images/sold-out.png'), url('<%= result.cover_image.url %>')<% }else{ %>url('<%= result.cover_image.url %>')<% } %>">
                                </div>
                                <div class="menu-item-caption shadow col-lg-12 col-md-12 col-sm-12 col-xs-12" data-itemId="<%= result.objectId %>" data-item-price="<%= result.price %>">
                                    <ul class="list-group">
                                        <li class="list-group-item item-title">
                                            <span class="capitalized menu-item-title"><%= result.name %></span>
                                        </li>
                                        <li class="list-group-item item-description">
                                            <span class="text-size-1"><%=result.description %></span>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row menu-ordering">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <span class="text-size-1">From the kitchen of Chef <%= result.user.screen_name %></span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <span class="item-price"><i class="fa fa-rupee"></i> <%= result.price %></span>
                                                </div>
                                                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-8 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
                                                    <div class="item-left-count" data-item-left-count="<%= result.quantity_remaining %>" data-item-left-original-count="<%= result.quantity_remaining %>"><span class="text-size-1"><%= result.quantity_remaining %> meals available</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <i class="fa fa-lg fa-minus"></i>
                                                    <div class="item-ordered-count" data-item-ordered-count="0"><span>0 meals added</span>
                                                    </div>
                                                    <i class="fa fa-lg fa-plus"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="order-modal-title" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="order-modal-title">Your Order</h3>
                    </div>
                    <div class="modal-body">
                        <div class="loading to-hide">
                            <i class="fa fa-spinner fa-spin fa-5x"></i>
                            <br/>
                            <h3>Please wait while we confirm your order</h3>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-content bot-buffer">
                            <h4>You are one step closer to having an amazing meal.</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-details">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger to-hide"><h4>Due to shortage of availability, some of your item quantities have been changed. Please review and confirm order again.</h4></div>
                        <form id="order-details-form" class="form-content" name="order-details-form" autocomplete="on">
                            <div class="row bot-buffer">
                                <label for="address" class="col-lg-4 col-md-4 col-sm-4 col-xs-3 control-label">Address:</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 side-inverse-buffer number-div">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address-div">
                                        <button type="button" class="btn btn-default dropdown-toggle address btn-lg web-only" data-toggle="dropdown" aria-expanded="false">Select Block<i class="fa fa-caret-down right"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle address mob-only" data-toggle="dropdown" aria-expanded="false">Select Block<i class="fa fa-caret-down right"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a>Block A</a></li>
                                            <li><a>Block B</a></li>
                                            <li><a>Block C</a></li>
                                            <li><a>Block D</a></li>
                                        </ul>
                                   </div>
                                </div>
                                <label for="phone-number" class="col-lg-4 col-md-4 col-sm-4 col-xs-3 control-label">Phone Number:</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 side-inverse-buffer number-div">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input placeholder="10 digit phone number" autocomplete="on" type="number" class="form-control input-lg right-extend phone-number-input web-only" />
                                        <input placeholder="10 digit phone number" autocomplete="on" type="number" class="form-control right-extend phone-number-input mob-only" />
                                    </div>
                                </div>
                                <label for="email-id" class="col-lg-4 col-md-4 col-sm-4 col-xs-3 control-label">Email:</label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-9 side-inv-buffer number-div">
                                    <div class="input-group">
                                        <input placeholder="tricon email id" type="text" class="form-control input-lg email web-only" />
                                        <input placeholder="tricon email id" type="text" class="form-control email right-extend mob-only" />
                                        <span class="input-group-addon">@triconinfotech.com</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 number-div top-padding confirm-order-div">
                                    <button id="cancel-order" type="button" data-dismiss="modal" class="btn btn-lg">Cancel</button>
                                    <button id="confirm-order" type="submit" class="btn btn-lg">Confirm Order</button>
                                </div>
                                <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-9 col-md-9 col-sm-9 col-xs-9 number-div to-hide">
                                    <input id="phone-number" name="phone-number" readonly type="text" class="form-control input-lg" />
                                    <input id="email-id" name="email-id" readonly type="email" class="form-control input-lg" />
                                </div>
                            </div>
                        </form>
                        <div class="thank-you to-hide">
                            <div class="row">
                                <div id="confirmation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bot-buffer">
                                    <h3>Thank You for Ordering from HungryNow.</h3>
                                    <h3 class="orderId"></h3>
                                    <h4>We will contact you once the order is on the way.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="no-orders to-hide">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bot-buffer">
                                    <h4>Please choose items from our tasty collection and place order.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row section-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
                    <h5>&copy; 2015 HungryNow. All Rights Reserved</h5>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/mustache.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/js/parse.min.js"></script>
    <script type="text/javascript" src="lib/js/app_base.js"></script>
    <script type="text/javascript" src="lib/js/script.js"></script>
</body>
</html>