<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Hungry now website">
        <meta name="author" content="">
        <title>Hungry Now - Login</title>
        <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
        <link href="lib/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="lib/css/login-styles.css">
    </head>
    <body>
        <div class="page">
            <header>
                <nav class="navbar navbar-static-top shadow-header section-content">
                    <div class="page-container container-fluid clearfix">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle Navigation</span>
                                <i class="fa fa-lg fa-bars"></i>
                            </button>
                            <a href="new.html" class="navbar-brand">
                                <img class="brand-image" src="lib/images/logo.png">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse top-navbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-tab active"><a class="capitalized" href="">Login</a>
                                </li>
                                <!--<li class="nav-tab"><a class="capitalized" href="">Become a home chef</a>
                                </li>
                                <li class="nav-tab web-only"><a><i class="fa fa-lg fa-bars"></i></a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section>
                <div class="row section-content">
                    <% if(1>0) { %>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-danger col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <h4>Oops, looks like there is a mismatch of email and password. Please try again.</h4>
                        </div>
                    </div>
                    <% } %>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="signIn" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <form class="form-horizontal" role="form" id="signin_form" method="post" action="/login">
                                <div class="emailDiv form-group">
                                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-lg fa-envelope"></i></span>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <input type="email" name="username" class="input-field input-lg web-only form-control signin_email" placeholder="Email">
                                        <!--<input type="email" name="username" class="input-field mob-only form-control signin_email" placeholder="Email">-->
                                    </div>
                                </div>
                                <div class="passwordDiv form-group">
                                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-lock"></i></span>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <input type="password" name="password" class="input-field input-lg web-only form-control signin_password" placeholder="Password">
                                        <!--<input type="password" name="password" class="input-field mob-only form-control signin_password" placeholder="Password">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <button type="submit" class="btn btn-lg btn-default web-only signin_button" data-loading-text="Signing In...">Sign in</button>
                                        <button type="submit" class="btn btn-default mob-only signin_button" data-loading-text="Signing In...">Sign in</button>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <div class="checkbox">
                                            <a href="" id="forgot_password">Forgot Password</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <div class="checkbox">
                                            <a href="/register" id="registration">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="recoverPassword" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                            <form class="form-horizontal" role="form" id="recover_form" method="post" action="/forgot">
                                <div class="emailDiv form-group">
                                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-lg fa-envelope"></i></span>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <input type="email" name="email" class="input-field input-lg web-only form-control recover_email" placeholder="Email">
                                        <input type="email" name="email" class="input-field mob-only form-control recover_email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <button type="submit" class="btn btn-lg btn-default web-only recover_button" data-loading-text="Sending recovery mail...">Send Password</button>
                                        <button type="submit" class="btn btn-default mob-only recover_button" data-loading-text="Sending recovery mail...">Send Password</button>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-5">
                                        <button type="button" class="btn btn-lg btn-default web-only cancel_button" data-loading-text="Sending recovery mail...">Cancel</button>
                                        <button type="button" class="btn btn-default mob-only cancel_button" data-loading-text="Sending recovery mail...">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="row section-content">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
                        <h5>&copy; 2015 HungryNow. All Rights Reserved</h5>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/js/login-script.js"></script>
    </body>
</html>