@font-face {
    font-family: 'dinpro';
    src: url('../lib/fonts/din/dinpro-black-webfont.eot');
    src: url('../lib/fonts/din/dinpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/dinpro-black-webfont.woff') format('woff'),
         url('../lib/fonts/din/dinpro-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dinblack';
    src: url('../lib/fonts/din/din-black-webfont.eot');
    src: url('../lib/fonts/din/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/din-black-webfont.woff') format('woff'),
         url('../lib/fonts/din/din-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dinbold';
    src: url('../lib/fonts/din/din-bold-webfont.eot');
    src: url('../lib/fonts/din/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/din-bold-webfont.woff') format('woff'),
         url('../lib/fonts/din/din-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dinlight';
    src: url('../lib/fonts/din/din-light-webfont.eot');
    src: url('../lib/fonts/din/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/din-light-webfont.woff') format('woff'),
         url('../lib/fonts/din/din-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dinregular';
    src: url('../lib/fonts/din/din-regular-webfont.eot');
    src: url('../lib/fonts/din/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/din-regular-webfont.woff') format('woff'),
         url('../lib/fonts/din/din-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinmedium';
    src: url('../lib/fonts/din/din-medium-webfont.eot');
    src: url('../lib/fonts/din/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/din/din-medium-webfont.woff') format('woff'),
         url('../lib/fonts/din/din-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: "dinregular";
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
 	background-size: 100% auto;
/*  height: 100%;
  width: 100%;
  position: absolute; */
  background: #ffffff;
  background: #fafafa;
  text-shadow: none;
  /*background-image: url(../assets/hn-website-2-01.png);*/
}
.container{
	position: relative;

}
.landing{
  position: relative;
  margin: 2% auto;
  width: 50%;
  padding: 1vh 1vh 1vh 1vh;
  background: rgba(252, 247, 247, 0.44);
  border-radius: 10px;
  box-shadow: 0vh 0vh 0.3vh 0vh;
  box-sizing: border-box;
  text-align: center;
}
/* .brand-image {
  height: 50px;
  width: 105px;
} */
.button-custom{
	top: 1vh;
  	position: relative;
}
.customer{
		position: relative;
	  margin: 7% auto;
	  padding: 1vh 1vh 1vh 1vh;
	  background: rgb(228, 228, 228);
	  border-radius: 3px;
	  box-shadow: 0vh 0vh 1vh 0vh;
	  box-sizing: border-box;
}
.continer-custom {
  position: absolute;
  width: 100%;
  height:100%;
  margin: 0 0;
  padding: 0;
  background: #fff;
}
.landing img {
    margin: 0 auto;
  margin-bottom: 1%;
}
.food-order-container{
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: black;
  display: block;
  padding: 0vh 0vh 1.8vh 0vh;
  height: auto;
  margin: 1% auto;
}
.dropdown-menu>li>a{
	color:white;
}
.dropdown-menu{
	background: #222;
}
.dropdown, #logOut{
    cursor: pointer;
}
.navbar-default {
  border-color: rgba(0, 0, 0, 0.29);
  background: rgba(0,0,0, 0.5);
  margin-bottom: 0;
  padding: 0 0 10px;
}
.navbar>.container .navbar-brand, .navbar>.navbar-header.brand-logo {
  width: 110px;
  position: relative;
  padding: 0;
  height: 100%;
  display: inline-block;
  overflow: visible;
  margin-top: 12px;
}
/* ............................................. 768px-Ipad & Tabs & more Screen........................... */

@media (min-width: 768px){
	.navbar-default {	  
	  border: 0;	  
	  -webkit-transition: padding .3s;
	  -moz-transition: padding .3s;
	  -ms-transition: padding .3s;
	  transition: padding .3s;		
	}
	.brand-image {
	  background-position: center;
	  -webkit-background-size: auto 76%;
	  -moz-background-size: auto 76%;
	  background-size: auto 76%;
	  -o-background-size: auto 76%;
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  margin: 6px 2px 5px 1px;
	}
	.navbar-container.container {
	  height: 100%;
	  padding: 0 33px;
	}

}


/* ............................................. 1200px-Big Screen........................... */
@media (min-width: 1200px){
.navbar-default {  
  
}
}
/* ........................................ Ir-respective of size......................................... */

.brand-image {
  background-image: url(../assets/logowhite.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 76%;
  -moz-background-size: auto 76%;
  background-size: auto 76%;
  -o-background-size: auto 76%;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 6px 2px 5px 1px;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="service-div-"] {
  text-align: center;
/*   padding-bottom: 100px;
  margin-bottom: -100px; */
  border-right: 1px solid rgba(5, 5, 5, 0.15);
}
.row.vertical-divider div[class^="service-div-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="service-div-"]:last-child {
  border-right: none;
}

.container {
   width: 100%;
}

body > * {
  /*opacity: 0.5;*/
}
.nav.navbar-nav.navbar-right.float-right {
  font-size: 1.5rem;
}

ul.nav.navbar-nav.navbar-right > li {
  /* margin:1.25% 0.2% 1% 1.5%;
  float: right; */
}

/*...........................................END app.css..................................................*/