.header.banner {
  position: relative;
}

.banner {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../assets/food3.jpg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header .container {
  padding-top: 120px;
  padding-bottom: 50px;
}
.header .banner {
  position: absolute;
  width: 100%;
  height: 99.5%;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
}

.header .intro-text .intro-head {
  display: block;
  font-family: "dinmedium";
  font-weight: inherit;
  text-rendering: geometricPrecision;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 3.15em;
  letter-spacing: -2.5px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 12px;    
	text-align: center;
}

.header .intro-text .intro-lead-in {
  margin-bottom: 3rem;
  font-size: 1.05em;
  text-align: center;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus, .navbar .nav li a:hover, .navbar .nav li a:focus  {
  outline: 0;
  color: #fff;
}

/* .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  outline: 0;
  color: #fed136;
} */

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}

/* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: transparent;
} */

.navbar-default .nav li a, .navbar .nav li a {
  text-transform: uppercase;
  font-family: "dinmedium";
  font-weight: 400;
  color: #fff;
  padding: 33px 24px 15px 33px;
}

.btn-l {
  padding: 1.75rem 3.6rem;
  border-color: #FFFFFF;
  border-radius: 3px;
  font-family: "dinlight";
  font-size: 1.7rem;
  color: #fff;
  background: transparent;  
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-l:hover, .btn-l:focus, .btn-l:active {
	background: rgba(255, 255, 255, 0.25);
	color: #fff;
	border: none;
	font-size: 1.8em;
}

.brand-image {
  background-image: url(../assets/logowhite.png);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.service-div a {
  background-image: url(../assets/icon-01.png);
  background-position: 50% 47%;
  -webkit-background-size: auto 59%;
  -moz-background-size: auto 59%;
  background-size: auto 63%;
  -o-background-size: auto 59%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-repeat: no-repeat;
}

.service-div a.healthyFood {
   background-image: url(../assets/icon-02.png);
   background-position: 50% 50%;
}

.service-div a.cookbooksRecipes {
    background-image: url(../assets/icon-03.png);
 background-size: auto 64%;
  background-position: 50% 46%;
}

.service-div a.community {
  background-image: url(../assets/icon-04.png);
  background-size: auto 63%;
  background-position: 52% 47%;
}

.service-div a.marketPlace {
  background-image: url(../assets/icon-06.png);
  background-position: 52% 56%;
}



.row.vertical-divider.service {
  padding-top: 18px;
}

.service-heading {
  text-transform: uppercase;
  font-size: 0.5rem;
  margin: 0;
  font-weight: bold;
}

section#services {
  height: 10%;
  position: relative;
}

.header.banner {
  position: relative;
  height: 89.5%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container.service {
	background-color: white;
	height: 100%;
	padding-left:0%;
	padding-right:0%;
}

.intro-text {
  width: 90%;
  margin: auto;
}
/* ............................................. 768px-Ipad & Tabs & more Screen........................... */

@media (min-width: 768px){
	.header .container {
		padding-top: 15%;
	}
	.header .intro-text .intro-head {
	  font-size: 7.5rem;
	  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
	  margin-bottom: 0rem;
	  font-weight: initial;
	  letter-spacing: -3.2px;
	}
	.header .intro-text .intro-lead-in {
		font-size: 2rem;
		font-family: "dinlight";
		line-height: 4.7rem;
		padding-bottom: 0.9rem;
		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
	}
	.service-heading {
   		text-transform: uppercase;
    	font-size: 12px;
	}
	section#services {
	  height: 17%;
	  position: relative;
	}
	.header.banner {
	  position: relative;
	  height: 82.9%;
	}
	.container.service {
		padding-left:5%;
		padding-right:5%;
	}
	
}


/* ............................................. 992px-Big Screen........................... */

@media (min-width: 992px){
	.col-md-2 {
  		width: 16.66666667%;
	}
}


/* ............................................. 1200px-Big Screen........................... */

@media (min-width: 1200px){
	.service-heading {
	  text-transform: uppercase;
	  font-size: 1.7rem;
	}
	.container.service {
		padding-left:5%;
		padding-right:5%;
	}

}

/* ........................................ Ir-respective of size......................................... */


.row.service {
	background-color: white;
	height: 100%;
}

.row.service > div {
	background-color: white;
	height: 100%;
}

div.service-div {
  height: 78%;
  width: 100%;
  position: relative;
  padding-top: 2%;
}

.service-div-contain {
    position: relative;
    width: 19%;
    display: inline-block;
}


/*................................END Landingpage.css...........................................*/