.heading-text {
  padding-top: 5%;
  text-align: center;
  font-family: "dinmedium";
  color: white;
  padding-bottom: 2%;
    background-image: url("../assets/food1.jpg");
    background-size: cover;
}
.heading-text h1:first-child {
  margin-bottom: 0;
  font-size: 75.4px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "dinregular";
}
.heading-text h1:nth-child(2) {
  margin-top: 0.3%;
  margin-bottom: 6.5%;
  font-size: 64px;
  color: #D7D9D2;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.heading-text h1:nth-child(3){
    font-size: 29.9px;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
	font-family: "dinregular";
}
.date-place-div {
	padding: 1.7% 2.5% 3.2%;
	position: relative;
	font-family: "dinregular";
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	position: relative;
	line-height: normal;
	min-height: 52px;
	width: 100%;
}
.date-place-div span {
  font-size: 20px;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
}
.left{
    float: left;
}
.right{
    float: right;
    margin-right: 1.8%;
}
.right.no-mob{
    margin-right: 0;
}
.no-mob{
    display: inline-block;
}
.no-web{
    display: none;
}
.simple-text {
  font-family: "dinmedium";
  padding-left: 0.8%;
  padding-top: 0.1%;
  margin-bottom: 1%;
}
.order-items{
    font-family: "dinmedium";
}
.simple-text h5, .order-items h5{
    font-size: 20px;
    letter-spacing: 0.2px;
}
.btn-coloured{
    background-color: #F42548;
    color: white !important;
    border-radius: 2px;
}
.coupon-input{
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px;
}
.order-heading {
  margin-left: 3%;
  margin-top: 4%;
}
.order-heading h5, .user-details h5, .food-order-div h5, .coupon-div h5, .total-div h5, .delivery-div h5, .payment-div h5{
    letter-spacing: -0.5px;
}
.bordered{
    border: 1px solid #CECECE;
    padding-bottom: 7%;
    background-color: #FFFFFF;
    border-radius: 2px;
}
.menu-heading {
  margin-bottom: 1.2%;
  padding-left: 2.2%;
}
@media screen and (min-width: 768px){
    .place-order-btn {
      height: 50px;
      font-size: 18px;
    }
	.date-place-div .place-order-btn {
		height: auto;
	}
}
@media screen and (max-width: 768px){
    .right{
        float: left;
        margin-left: 20px;
    }
    .date-place-div span{
        font-size: 12px;
        margin-top: 3.6%;
    }
    .date-place-div{
        /*padding: 19px 10px 33px;
        margin-bottom: 9px;*/
    }
    #mainContainer h1:first-child{
        margin-bottom: 0;
        font-size: 28px;
    }
    #mainContainer h1:nth-child(2){
        margin-top: 4px;
        margin-bottom: 40px;
        font-size: 28px;
    }
    #mainContainer h1:nth-child(3){
        font-size: 10.5px;
    }
    .heading-text{  
        padding-top: 4.5%;
        padding-bottom: 38px;
    }
    .no-mob{
        display: none;
    }
    .no-web{
        display: inline-block;
    }
    .place-order-btn{
        float: right;
        top: -10.7px;
        position: relative;
        background-color: #F42548;
        color: white !important;
        border-radius: 2px;
    }
    .simple-text{
        padding-left: 20px;
    }
    .simple-text h5{
        font-size: 13px;
        letter-spacing: -0.3px;
    }
}
.promo{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: block;
    background-image:url(../assets/sleep.jpg); 
}
.order-box{
    position: relative;
    width: 20%;
    margin: 1% 1%;
    display: inline-block;
    float: left;
}
.single-item-div{
  padding: 0 1.2% 2.7% 1.5%;
}
.item-div{
    padding: 1vh;
    margin: 0%;
}
.order-box_1{
    position: relative;
    width: 100%;
}
.list-container{
    width: 100%;
    margin: 0 1%;
    list-style: none;
}
.food-type{
    margin: 0 auto;
    padding: 0vh 0vh 1vh 0vh;
    font-weight: bold;
}
.food-view{
    padding: 0;
}
.rupee{
    color:#ADADAD;
}
price .rupee{
    font-size: 50px;
}
.chef-icon{
    height: 20px;
    vertical-align: sub;
    margin-right: 1%;
}
.food-chef-money{
    padding: 0.1% 2.8%;
}
.food-chef-money h3{
    font-size: 27px;
}
.food-image{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover
}
.thumbnail{
    margin-bottom: 0;
    box-shadow: 0;
}
.thumbnail>img{
    height: 330px;
    width: 100%;
    margin: 0;
}
.caption h2{
  margin-top: 1%;
  margin-left: 2.6%;
  height: 50px;
    font-size: 19.4px;
}
.caption h4{
	margin: 1% 2.6% 3%;
	font-family: "dinlight";
}
.yellow-star{
    color:#FFCB07;
}
.money{
    font-size: 55px;
    font-family: "dinlight";
}
.price{
    margin-top: -4%;
}
.add-order-button {
  background: #1FC055;
  color: #fff;
  border-radius: 2px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  margin: 8% 0 0 0;
}
.add-order-button:hover {
	  color: #fff;
}
.add-order-button.disabled{
    background-color: #D1D3D4;
    color: white !important;
    border-radius: 2px;
    height: 50px;
    width: 100%;
  font-size: 19px;
  margin: 8% 0 0 0;
}
.fluid-container>.row{
    margin: 0;
}
.fluid-container{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.on-click-only{
    display: none;
    margin: 8% 0 0 0;
}
.item-ordered-count{
    text-align: center;
    font-size: 40px;
    color: #39B54A;
}
.item-buttons{
    font-size: 20px;
    position: relative;
    top: 12px;
    cursor: pointer;
}
.item-quantity h1, .item-remove p{
    margin-top: 10px;
}
.remove-item{
    cursor: pointer;
}
.user-details, .coupon-div{
    border-bottom: 1px solid #E7E7E8;
    padding: 3% 1% 5% 1%;
}
.food-order-div, .total-div, .delivery-div, .payment-div{
    border-bottom: 1px solid #E7E7E8;
    padding: 3% 1% 3% 1%;
}
.place-order-div{
    padding: 6% 1% 0 1%;
}
.fa-times{
    cursor: pointer;
    color: #BBBDC0;
}
.fa-user{
    color: #D1D2D3;
}
.fa-play{
    color: #808080;
    cursor: pointer;
}
.rotated{
    transition: 0.3s;
    transform: rotate(90deg);
    color: #1FC054;
}
.price-text, .price-calculation{
    margin-top: 5px;
    font-family: "dinregular";
}
.to-show-on-click{
    display: none;
}
.address-line{
    padding: 2% 0;
}
.address-line-label{
    position: relative;
    top: -25.2px;
    font-weight: normal;
    font-family: 'dinregular';
    color: #808285;
    cursor: text;
}
.address-line-label.activated{
    position: relative;
    top: -50px;
    transition: 0.3s;
    font-family: 'dinmedium';
    font-size: 12px;
    color: #1FC054;
    cursor: default;
}
.full-address{
    text-overflow: ellipsis;
}
.address-details{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #D5D5D5;
    border-radius: 0;
    padding-left: 0;
    font-size: 16px;
}
.address-details:focus{
    border: none;
    border-bottom: 1px solid #D5D5D5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.full-address{
    resize: none;
}
.address-type{
    margin-right: 10px !important;
}
.address-type-label{
    font-weight: normal;
}
.address-line .check-box{
    border: 1px solid #1FC054;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* css added by darshan */
.thumbnail .caption {
	padding: 9px 0;
}
.meals-list-wrapper {}
.meals-list-wrapper .single-item-div {}
.order-items > .col-lg-12:nth-of-type(1), 
.remove-lp{
	padding-left: 0;
	padding-right: 26px;
}
.caption h2, 
.caption h4 {
	padding-left: 9px;
	padding-right: 9px;
} 
h4 .icon-Chef {
    color: #000;
    font-size: 1.3em;
    line-height: 0.5em;
}
.thumbnail > img {
	border-radius: 4px 4px 0 0;
	max-height: 100%;
	min-height: 300px;
}	
.fluid-container {	
	box-shadow: none;
}
.coupon-input {
    border: 1px solid #eee;
	background: #fafafa;
}
.price-calculation .fa-rupee, 
.price-text .fa-rupee {
	margin-right: 2px;
}
.item-total-price {
	margin-left: 10%;
	padding-left: 0;
	text-align: right;
	width: 30%;
}
.order-items {
	padding: 40px 0 0;
	background: #fafafa;
}
.input-group-btn, 
.coupon-input {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.meals-list-wrapper {
	background: #fafafa;
	padding-top: 2%;
	padding-left: 14px;
}
.default-user {
	width: 50px;
	height: 50px;
	position: absolute;
	padding-top: 6px;
	display: block;
	top: 0;
	font-size: 8px;
	background: #eee;
	border-radius: 100%;
	text-align: center;
}
.remove-padding div:first-child{
	padding-right: 0;
	width: 70%;
}
.remove-padding div:last-child{
	padding-right: 2%;
	padding-left: 0;
	width: 30%;
	text-align: right;
}
h1.money .fa-rupee {
	margin-right: 4px;
}
.food-chef-money {
	padding: 3% 17px 3%;
	border-top: 1px solid #ddd;
}
.input-md input[type='checkbox'] {	
	left: auto;	
	width: 85%;
	opacity: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	top: -8px;
	height: 30px;
	display: inline-block;	
}
.input-md input[type='checkbox'] + .f-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-left: 15px;
}
.input-md input[type='checkbox'] + .f-label:before {
	position: absolute;
	left: 0;
	display: block;
	content: "";
	border: 2px solid #1fc054;
	height: 20px;
	width: 20px;
	border-radius: 2px;
	background: #fff;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;	
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	box-sizing: border-box;
	top: 0;
}
.input-md input[type='checkbox'] + .f-label:after {
	position: absolute;
	display: block;
	content: "";
	top: 2px;
	left: 7px;
	width: 6px;
	height: 13px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;	
	transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;	
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
	box-sizing: border-box;
}
.input-md input[type='checkbox']:checked + .f-label:before {
	background: #1fc054;
	border-color: #1fc054;
}
.input-md input[type='checkbox']:checked + .f-label:after {
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	opacity: 1;
}
.input-md input[type='checkbox'][disabled] + .f-label {
	color: #ccc;
}
.input-md input[type='checkbox'][disabled] + .f-label:before {
	border-color: #ccc;
}
.input-md input[type='checkbox'][disabled]:checked + .f-label:before {
	background: #ccc;
}
.input-md input[type='radio'] {	
	cursor: pointer;
    height: 30px;
    left: auto;
    opacity: 0;
    position: absolute;
    top: -8px;    
	width: 85%;
    z-index: 1;
}
.input-md input[type='radio'] + .f-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-left: 30px;
}
.input-md input[type='radio'] + .f-label:before,
.input-md input[type='radio'] + .f-label:after {
	position: absolute;
	left: 3px;
	bottom: 3px;
	display: block;
	content: "";
	border: 2px solid #1fc054;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	background-clip: padding-box;
}
.input-md input[type='radio'] + .f-label:after {
	background: #1fc054;
	border: 2px solid #fff;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.input-md input[type='radio']:checked + .f-label:before {
	border-color: #1fc054;
}
.input-md input[type='radio']:checked + .f-label:after {
	-webkit-transform: scale(0.75, 0.75);
	-ms-transform: scale(0.75, 0.75);
	-moz-transform: scale(0.75, 0.75);
	-o-transform: scale(0.75, 0.75);
	transform: scale(0.75, 0.75);
}
.input-group .coupon-input:focus {
	border-color: rgba(244, 37, 72, 0.5);
	box-shadow: 0 0px 1px rgba(244, 37, 72, 0.6) inset, 0 0 8px rgba(244, 37, 72, 0.2);
}
@media only screen and (min-width : 900px) {
	h1.money {font-size: 34px;}
}
@media only screen and (min-width : 360px) and (max-width : 767px) {
	#mainContainer h1.money {
		font-size: 30px;	
	}
}
@media only screen and (min-width : 768px) and (max-width : 900px) {
	.add-order-button, 
	.caption h4	{
		font-size: 16px;
	}
	h1.money {font-size: 28px;}
	.food-chef-money .price .col-lg-7, 
	.food-chef-money .price .col-lg-12 {
		padding-left: 0;
	}
	.food-chef-money .price .col-lg-5 {
		padding-right: 0;
	}
}
@media only screen and (min-width : 1570px){
	.meals-list-wrapper .single-item-div{
		max-width: 25%;
	}
}
@media only screen and (max-width : 1200px){
	.order-items {
		padding: 40px 2.5% 0;
	}
}
/*.................................................END of menu.css..................................................*/