.order-item-div, .order-tracking-div, .order-feedback-div, .order-issue-div{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    background-color: #F8F8F8;
    border-radius: 2px;
    margin-top: 1%;
}
.order-item-div, .order-tracking-div{
    padding: 1% 1% 2% 1%;
}
.order-feedback-div, .order-issue-div{
    padding: 1% 1% 1% 1%;
}
.order-issue-div{
    margin-bottom: 2%;
}
.order-details{
    padding-top: 1%;
}
.order-details h4{
    margin: 25px 0 10px 0;
}
.order-address{
    border-left: 1px solid #E2E2E2;
}
.order-address h3{
    margin-bottom: 20px;
}
.centered{
    text-align: center;
}
.submit-div{
    margin-top: 2%;
}
.btn-submit-feedback, .btn-submit-issue{
    padding: 0.6% 4%;
    font-family: "dinmedium";
}
.to-hide{
    display: none;
}
.feedback, .issue{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #D5D5D5;
    border-radius: 0;
    padding-left: 0;
    font-size: 20px;
    background-color: #F8F8F8;
}
.feedback:focus, .issue:focus{
    border: none;
    border-bottom: 1px solid #D5D5D5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.rating .fa-star{
    color: #1FC054;
}
.rating .fa-star-o{
    color: inherit;
}
.rating-star:hover{
    cursor: pointer;
}
.tracking-line {
    position: relative;
}
.tracking-line:after {
    border-top: 1px solid #1fc054;
    content: "";
    display: inline-block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
}
.tracking-details > div {
    padding-left: 0;
}
.tracking-details > div:first-child {
    margin-left: 23%;
}
.tracking-spot-progress {
    background: #1fc054;
    border-radius: 100%;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    position: relative;
    width: 22px;
}
.tracking-spot-processed {
	background: #1fc054;
    border-radius: 100%;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    position: relative;
    width: 22px;
}
.tracking-spot-progress:after {
    background: #1fc054;
    border: 5px solid #fff;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 20px;
    left: 1px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 20px;
}
.tracking-details > div:first-child {
    margin-left: 23.667%;
}
.delivered-spot {
	max-width: 10%;
}
.order-address h3 {    
    word-wrap: break-word;
}
.order-address h3 small {
    display: block;
	 padding-top: 10px;
}
@media screen and (max-width: 768px){
	.tracking-details > div:first-child {
		margin-left: 11%;
	}
	.order-address {
		border-left: 0px solid #e2e2e2;
	}
}
@media screen and (max-width: 350px){
	.row.tracking-spot-icons h4 {
		font-size: 12px;
	}
}
@media screen and (min-width: 351px) and (max-width: 500px){
	.row.tracking-spot-icons h4 {
		font-size: 14px;
	}
}

/*.............................................END of orders.css............................................*/