<html>

<head>
    <style>
        caption {
            padding-top: 8px;
            padding-bottom: 8px;
            color: #777;
            text-align: left;
        }
        td,
        th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
        body {
            width: 600px;
            display: block;
            float: none;
            margin: auto;
            padding: 10px;
            height: 100%;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
        }
        table {
            width : 100%;
        }
    </style>
</head>

<body>
    <h2>Hi! Your Order Is Confirmed</h2>

    <!--h3>Order id for your order is <%= order.objectId %></h3-->

    <table>
        <caption>Below are your order details.</caption>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(result){ %>

                <tr>
                    <td>
                        <%=result.item.name %>
                    </td>
                    <td>
                        <%=result.item.price %>
                    </td>
                    <td>
                        <%=result.quantity %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <p>For any queries/issues contact us at +91-974-201-4919</p>
    <p>Thanks For Ordering From <a href="https://hungrynow.parseapp.com/">Hungry Now</a>
    </p>
</body>

</html>