<script type="text/template" id="customer-template">
<div class="jumbotron">
	<div class="container">
        <ul class="nav navbar-right navbar-nav">
            <li><a id="logOut">Logout</a></li>
        </ul>
        <h1>Welcome <%= name %></h1>
        <h3>Admin page</h3>
	</div>
</div>
<div class="container"></div>
</script>