<script type="text/template">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item-quantity">
            <h1><%= quantity_ordered %></h1>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-name">
            <h5><%= name %></h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 item-remove">
            <p><i class="fa fa-lg fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 item-price-calculation">
            <h3 class="price-calculation"><%= quantity_ordered %> X <i class="fa fa-rupee rupee"></i><%= price %></h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 item-total-price">
            <h2 class="price-text"><i class="fa fa-rupee rupee"></i><%=total_price%></h2>
        </div>
    </div>
</script>