 <script type="text/template" id="chef-item-template">
 	<div class="shadow col-lg-6 col-md-6 col-sm-6 col-xs-12 item-div" data-itemId="<%= objectId %>">
 		<div class="shadow col-lg-8 col-md-8 col-sm-8 col-xs-8">
	        <ul class="list-group">
	            <li class="list-group-item item-controls">
	                <span class="right"><i class="fa fa-pencil"></i><i class="fa fa-times-circle"></i></span>
	            </li>
	            <li class="list-group-item item-title">
	                <span class="capitalized menu-item-title"><%= name %></span>
	            </li>
	            <li class="list-group-item item-description">
	                <span class="text-size-1"><%= description %></span>
	            </li>
	            <li class="list-group-item">
	                <span class="item-price"><i class="fa fa-rupee"></i> <%= price %></span>
	            </li>
	        </ul>
	    </div>
	    <div class="shadow col-lg-4 col-md-4 col-sm-4 col-xs-4">
	        <img src="<%= imageURL %>" alt="<%= name %>" height="100%" width="100%">
	    </div>
 	</div>
  </script>
