<script type="text/template" id="chef-list-template">
<div class="jumbotron">
	<div class="container chef-container">
        <ul class="nav navbar-right navbar-nav">
            <li><a id="logOut">Logout</a></li>
        </ul>
        <h1><%=chef_name%></h1>
        <button class="btn btn-primary btn-lg add-meal-button" href="#" role="button">Add new meal</button>
	    <div class="items"></div>
    </div>
</div>
<div class="container"></div>
</script>