<script type="text/template">
<div class="jumbotron row">
    <div id="signIn" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 shadow">
        <form class="form-horizontal" role="form" id="signin_form">
            <div class="emailDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-lg fa-envelope"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="text" name="username" class="input-field form-control signin_email shadow" placeholder="Username">
                </div>
            </div>
            <div class="passwordDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-lock"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="password" name="password" class="input-field form-control signin_password shadow" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <button type="submit" class="btn btn-default signin_button shadow" data-loading-text="Signing In...">Sign in</button>
                </div>
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="checkbox">
                        <a href="" id="forgot_password">Forgot Password</a>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="checkbox">
                        <a href="/register" id="registration">Register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 shadow">
        <button class="btn btn-success fbSigninButton">Sign in with FB</button>
    </div>
</div>
</script>