<script type="text/template" id="customer-template">
<div class="jumbotron">
	<div class="container">
        <ul class="nav navbar-right navbar-nav">
            <li><a id="orders">Orders</a></li>
            <li><a id="logOut">Logout</a></li>
        </ul>
        <h1>Welcome <%= name %></h1>
        <h3>Customer page</h3>
	</div>
</div>
<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-0 col-lg-8 col-md-10 col-sm-10 col-xs-12" id="orderView"></div>
</script>