<script type="text/template" >
<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="order-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="order-modal-title">Add new meal</h3>
            </div>
            <div class="modal-body">
                <form id="add_item_form" role="form" data-itemid="<%= objectId %>">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" required class="form-control" id="name" placeholder="Enter the name of the food item" value="<%= name %>">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" required class="form-control" id="description" placeholder="Add A Brief Description Like Ingredients etc" value="<%= description %>">
                    </div>

                    <div class="form-group">
                        <label for="available_on">Available On</label>
                        <input type="text" required class="form-control datepicker" id="available_on" placeholder="Date on which food will be available." value="<%= available_on %>">
                    </div>

                    <div class="form-group">
                        <label for="available_for">Available For</label>
                        <select required id="available_for" name="available_for" class="form-control">
                            <option value="1" title="Lunch" <% if( available_for == "1") { %> selected <% } %>>Lunch</option>
                            <option value="1" title="Dinner" <% if( available_for == "2") { %> selected <% } %>>Dinner</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" required class="form-control" id="quantity" placeholder="Quantity" value="<%= quantity %>">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" required class="form-control" id="price" placeholder="Price" value="<%= price %>">
                    </div>

                    <div class="form-group">
                        <label for="food_images">Images</label>
                        <input required type="file" id="food_images" value="<%= imageURL %>">
                        <p class="help-block">Add Images For Your Food</p>
                    </div>
                    
                    <button type="submit" class="btn btn-default submit_button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</script>