<script type="text/html" >

<div class="banner header">
		<div class="banner"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="" alt=""></div>
                    <div class="intro-text">
                        <div class="intro-head">Home cooked food, delivered.</div>
                        <div class="intro-lead-in">Order healthy and tasty food from local home chefs and get it delivered at your door step.</div>
							<a href="#menu" id="menu" class="page-scroll btn btn-l">How it Works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section id="services">
        <div class="container service">
            <div class="row vertical-divider text-center service">
                <div class= "service-div-contain">
                    <div class="service-div">
                        <a id="todaysSpecial" class="todaysSpecial" src="assets/h1-01.png" ></a>
                    </div>
                    <h4 class="service-heading">Today's Special</h4>
                    
                </div>
                <div class= "service-div-contain">
                    <div class="service-div">
                        <a class="healthyFood" src="assets/h2-01.png" ></a>
                    </div>
                    <h4 class="service-heading">Healthy Food</h4>
                    
                </div>
                <div class= "service-div-contain">
                    <div class="service-div">
                        <a class="cookbooksRecipes" src="assets/h3-01.png" ></a>
                    </div>
                    <h4 class="service-heading">Cookbooks & Recipes</h4>
                    
                </div>
				<div class="service-div-contain">
                    <div class="service-div">
                        <a class="community"src="assets/h4-01.png" ></a>
                    </div>
                    <h4 class="service-heading">Community</h4>
                    
                </div>
				<div class= "service-div-contain">
                    <div class="service-div">
                        <a class="marketPlace" src="assets/h5-01.png" ></a>
                    </div>
                    <h4 class="service-heading">Market Place</h4>
                    
                </div>
            </div>
        </div>
    </section>
</script>
