<script type="text/template" id="menu-item-template">
    <div class="fluid-container">
        <div class="row">
            <div class="order-box_1">
                <div class="thumbnail food-view">
                    <img <% if( quantity_remaining == 0){ %>src="./assets/sold-out.png" alt="<%= name %>"<% } %> style="background-image:url('<%= imageURL %>');background-size:cover">
                    <div class="caption">
                        <h2><%=name%></h2>
                        <h4><span class="icon-Chef"></span> <%=chef_name%> <span class="pull-right">4.4 <i class="fa fa-star yellow-star"></i></span></h4>
                        <div class="food-chef-money">
                            <div class="price row">
                                <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <h1 class="money"><i class="fa fa-rupee rupee"></i><%=price%></h1>
                                </span>
                                <span class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <button type="button" class="btn btn-lg add-order-button <% if( quantity_remaining == 0){ %>disabled<% } %>" id="addOrder">Add to Order</button>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 on-click-only">
                                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-buttons"><i class="fa fa-lg fa-angle-down"></i></span>
                                        <span class="item-ordered-count col-lg-4 col-sm-4 col-md-4 col-xs-4" data-item-ordered-count="<%=quantity_ordered%>"><%=quantity_ordered%></span>
                                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-buttons"><i class="fa fa-lg fa-angle-up"></i></span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>    
        </div>
    </div>
</script>