<script type="text/template">
<div class="heading-text">
    <h1>SERVING LUNCH NOW</h1>
    <h1><i class="fa fa-clock-o"></i>12pm-3pm</h1>
    <h1>Get tasty & delicious lunch delivered at your doorstep in 30 minutes.</h1>
</div>
<div class="date-place-div">
    <span class="left no-mob">Today - <%= day %>,</span><span class="left">&nbsp;<%= month %>&nbsp;<%= date %>,&nbsp;<%= year %>&nbsp;</span>
    <span class="right">&nbsp;Koramangala </span><span class="right no-mob">Delivered in</span>
    <button type="button" class="btn no-web place-order-btn">Place Order</button>
</div>
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 simple-text meals-list-wrapper">
</div>
<div class="col-lg-3 order-items no-mob">
    <div class="col-lg-12">
        <div class="col-lg-12 bordered">
            <div class="order-heading">
                <h5>Your Order</h5>
            </div>
            <div class="row user-details">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<div class="default-user">
                        <i class="fa fa-user fa-4x"></i>
					</div>	
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span>Guest</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span><i class="fa fa-map-marker"></i> Delivery in Koramangala</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span><i class="fa fa-clock-o"></i> Delivery Time: 30 minutes</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="food-order-div row">
                <div id="foodOrder" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
            <div class="coupon-div row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <h5>Sub-Total</h5>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <h2 class="price-text" id ="subTotal"><i class="fa fa-rupee rupee" ></i>0</h2>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 input-group">
                    <input class="input-lg form-control coupon-input" type="text" placeholder="Coupon Code">
                    <span class="input-group-btn">
                        <button class="btn btn-lg btn-coloured" type="button">Apply</button>
                    </span>
                </div>
            </div>
            <div class="total-div row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <h5>Total</h5>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <h2 class="price-text" id ="total"><i class="fa fa-rupee rupee"></i>0</h2>
                    </div>
                </div>
            </div>
            <div class="delivery-div row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <h5>Delivery Details &nbsp;<i id="show-address" class="fa fa-play"></i></h5>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 address-div to-show-on-click">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row address-line">
                                <input type="number" class="form-control phone-number address-details"><label class="address-line-label">Phone</label>
                            </div>
                            <div class="row address-line">
                                <input type="email" required class="form-control e-mail address-details"><label class="address-line-label">E-mail</label>
                            </div>
                            <div class="row address-line">
                                <input type="text" class="form-control name address-details"><label class="address-line-label">Full Name</label>
                            </div>
                            <div class="row address-line">
                                <div class="row">
                                    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="address-type">Address Type</label>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 input-md">
                                        <input type="checkbox" name="address-type" value="Office" class="address-type" id="addressTypeOffice">
										<label for="addressTypeOffice" class="address-type-label f-label">Office</label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 input-md">
                                        <input type="checkbox" name="address-type" value="Home" class="address-type" id="addressTypeHome">
										<label for="addressTypeHome" class="address-type-label f-label">Home</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row address-line">
                                <input type="text" class="form-control full-address address-details"><label class="address-line-label">Address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-div row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <h5>Pay by Cash / Sodexo</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 place-order-div">
                <button class="btn btn-lg form-control btn-coloured place-order-btn">Place Order</button>
            </div>
        </div>
    </div>
</div>
</script>