<script type="text/template">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-item-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Order Details</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 order-details">
            <h4>Order ID: <%= objectId %> </h4>
            <h4>Orders: <% for(var i=0;i<items.length;i++){ %> <%= items[i] %> <% } %></h4>
            <h4>Order Date: <%= createdAt %> </h4>
            <h4>Amount Paid: <i class="fa fa-rupee rupee"></i><%= total_price %> by cash</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 order-address">
            <h2>Delivery Address</h2>
            <h3><%= name %> <small><%= contact_no %></small></h3>
            <h4><%= address_line_1 %> <%= address_line_2 %></h4>
            <h4><%= area_name %> <%= pin_code %></h4>
            <h4><%= city_name %> <%= state_name %></h4>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-tracking-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Tracking Details</h2>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 centered">
                    <i class="fa fa-2x fa-shopping-cart"></i>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <i class="fa fa-2x fa-film"></i>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <i class="fa fa-2x fa-truck"></i>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <i class="fa fa-2x fa-flag-checkered"></i>
                </div>
            </div>
            <div class="row tracking-spot-icons">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 centered">
                    <h4>Order Placed</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <h4>Picked Up from chef</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <h4>Dispatched</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 centered">
                    <h4>Delivered</h4>
                </div>
            </div>
            <div class="row tracking-details">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 tracking-line">
                    <span class="tracking-spot-processed"></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 tracking-line">
                    <span class="tracking-spot-processed"></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 tracking-line">
                    <span class="tracking-spot-processed"></span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 delivered-spot">
                    <span class="tracking-spot-progress"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-feedback-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-open">
            <h2>Give us your feedback <i class="fa fa-lg fa-angle-right pull-right"></i></h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-hide ratings">
            <h3>Rate Us</h3>
            <h4 class="col-lg-1 col-md-2 col-sm-2 col-xs-6">Taste </h4><h4 class="col-lg-10 col-md-10 col-sm-10 col-xs-6 rating" data-type="taste" data-rating="0"><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i></h4>
            <h4 class="col-lg-1 col-md-2 col-sm-2 col-xs-6">Freshness </h4><h4 class="col-lg-10 col-md-10 col-sm-10 col-xs-6 rating" data-type="freshness" data-rating="0"><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i></h4>
            <h4 class="col-lg-1 col-md-2 col-sm-2 col-xs-6">Healthy </h4><h4 class="col-lg-10 col-md-10 col-sm-10 col-xs-6 rating" data-type="healthy" data-rating="0"><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i></h4>
            <h4 class="col-lg-1 col-md-2 col-sm-2 col-xs-6">Packing </h4><h4 class="col-lg-10 col-md-10 col-sm-10 col-xs-6 rating" data-type="packing" data-rating="0"><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i><i class="fa fa-lg fa-star-o rating-star"></i></h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-hide">
            <h3>Your Comments</h3>
            <input type="text" required class="form-control feedback">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-hide submit-div centered">
            <button type="button" class="btn btn-lg btn-coloured btn-submit-feedback to-hide">Send</button>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-issue-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-open">
            <h2>Report Issue <i class="fa fa-lg fa-angle-right pull-right"></i></h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-hide">
            <input type="text" required class="form-control issue">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 to-hide submit-div centered">
            <button type="button" class="btn btn-lg btn-coloured btn-submit-issue to-hide">Send</button>
        </div>
    </div>
</script>