<script type="text/template">
<div class="jumbotron row">
    <div id="signUp" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 shadow">
        <form class="form-horizontal" role="form" id="signup_form">
            <div class="emailDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-lg fa-envelope"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="text" name="username" class="input-field form-control signup_email shadow" placeholder="Username">
                </div>
            </div>
            <div class="passwordDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-lock"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="password" name="password" class="input-field form-control signup_password shadow" placeholder="Password">
                </div>
            </div>
            <div class="phoneDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-phone"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="tel" name="phone" class="input-field form-control signup_phone shadow" placeholder="Phone Number with country code">
                </div>
            </div>
            <div class="nameDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-smile-o"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input type="text" name="name" class="input-field form-control signup_name shadow" placeholder="Your name">
                </div>
            </div>
            <div class="roleDiv form-group">
                <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-2x fa-user"></i></span>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <select name="role" class="input-field form-control signup_role shadow">
                        <option value="customer">Customer</option>
                        <option value="chef">Chef</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <button type="submit" class="btn btn-default signup_button shadow" data-loading-text="Signing Up...">Sign up</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 shadow">
        <button class="btn btn-success fbSignUpButton">Signup with FB</button>
    </div>
</div>
</script>