<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hungry Now</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" type="text/css" href="../../lib/css/bootstrap.min.css">
    <link href="../../lib/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/styles.css">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
</head>

<body>
    <div class="page">
        <header>
            <nav class="navbar navbar-static-top shadow-header section-content">
                <div class="page-container container-fluid clearfix">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <i class="fa fa-lg fa-bars"></i>
                        </button>
                        <a href="new.html" class="navbar-brand">
                            <img class="brand-image" src="lib/images/logo.png">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse top-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-tab active"><a class="capitalized" href="/chef">Home</a>
                            </li>
                            <li class="nav-tab active"><a class="capitalized" href="/logout">Logout</a>
                                <li class="nav-tab"><a><i class="fa fa-lg fa-bars"></i></a>
                                </li>
                                <!--<li class="nav-tab"><a class="capitalized" href="">Become a home chef</a></li>
                                -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--main content starts here-->
        <section>
            <div class="row section-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-content">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-grid">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
                            <h4 class="capitalized">Add A Meal</h4>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center content">
                            <h5>You Can now directly Add your meals from here.</h5>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center content">
                            <h5>Just Fill up the form on your right. All fields are neccessary.</h5>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center content">
                            <!--<i class="fa fa-2x fa-whatsapp"></i><h3>+91-961-159-3940</h3>-->
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 right-grid">
                        <form id="add_item_form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" required class="form-control" id="name" placeholder="Enter the name of the food item">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" required class="form-control" id="description" placeholder="Add A Brief Description Like Ingredients etc">
                            </div>

                            <div class="form-group">
                                <label for="available_on">Available On</label>
                                <input type="text" required class="form-control datepicker" id="available_on" placeholder="Date on which food will be available.">
                            </div>

                            <div class="form-group">
                                <label for="available_for">Available For</label>
                                <select required id="available_for" name="available_for" class="form-control">
                                    <option value="1" title="Lunch">Lunch</option>
                                    <option value="1" title="Dinner">Dinner</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input type="number" required class="form-control" id="quantity" placeholder="Quantity">
                            </div>

                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" required class="form-control" id="price" placeholder="Price">
                            </div>

                            <div class="form-group">
                                <label for="food_images">Images</label>
                                <input required type="file" id="food_images">
                                <p class="help-block">Add Images For Your Food</p>
                            </div>

                            <div class="form-group">
                                <label for="food_images_soldout">Images</label>
                                <input required type="file" id="food_images_soldout">
                                <p class="help-block">Add Sold Out Image For Your Food</p>
                            </div>
                            <button type="submit" class="btn btn-default submit_button">Submit</button>
                        </form>
                    </div>
                </div>
                <!--main content ends here-->
            </div>
        </section>
        <footer>
            <div class="row section-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
                    <h5>&copy; 2015 HungryNow. All Rights Reserved</h5>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../../lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../lib/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../../lib/js/app_base.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: true
        });
    </script>

    <script type="text/javascript">
        $('#add_item_form').on('submit', function(ev) {
            ev.preventDefault();
            var button = $('.submit_button');
            button.prop('disabled', true).text("Uploading Images");
            var fileUploadControl = $("#food_images")[0];
            var fileUploadControlSoldout = $("#food_images_soldout")[0];
            var isError = false;
            var file;
            if (fileUploadControl.files.length > 0) {
                file = fileUploadControl.files[0];
                var name = "cover";
                var parseFile = new Parse.File(name, file);
                parseFile.save().then(function() {
                    var soldOutFile = fileUploadControlSoldout.files[0];
                    var name = "soldout";
                    var parseSoldOutFile = new Parse.File(name, soldOutFile);
                    parseSoldOutFile.save().then(function() {
                        button.text("Uploading Food Metadata");
                        var FoodItem = Parse.Object.extend("FoodItem");
                        var foodItem = new FoodItem();
                        var foodACL = new Parse.ACL(currentUser);
                        foodACL.setPublicReadAccess(true);
                        foodItem.set("cover_image", parseFile);
                        foodItem.set("cover_image_soldout", parseSoldOutFile);
                        foodItem.set("name", $('#name').val());
                        foodItem.set("description", $('#description').val());
                        foodItem.set("available_on", new Date($('.datepicker').datepicker('getUTCDate')));
                        foodItem.set("available_for", $('#available_for').val());
                        foodItem.set("quantity", Number($('#quantity').val()));
                        foodItem.set("quantity_remaining", Number($('#quantity').val()));
                        foodItem.setACL(foodACL);
                        foodItem.set("user", currentUser);
                        foodItem.set('price', $('#price').val());
                        foodItem.set('denomination', "RUPEE");
                        foodItem.save(null, {
                            success: function(foodItem) {
                                alert("Food Item Has Been Saved");
                                button.prop('disabled', false);
                                button.text("Submit");
                            },
                            error: function(foodItem, error) {
                                 alert ("error");
                                button.prop('disabled', false);
                                button.text("Submit");
                            }
                        });
                    }, function(error) {
                        button.prop('disabled', false);
                        button.text("Submit");
                       alert ("error");
                    });
                }, function(error) {
                    button.prop('disabled', false);
                    button.text("Submit");
                    alert ("error");
                });
            } else {
                isError = true;
                button.prop('disabled', false);
                button.text("Submit");
            }
        });
    </script>

</body>

</html>