<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hungry Now</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css">
    <link href="../lib/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../lib/css/styles.css">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
</head>

<body>
    <div class="page">
        <header>
            <nav class="navbar navbar-static-top shadow-header section-content">
                <div class="page-container container-fluid clearfix">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <i class="fa fa-lg fa-bars"></i>
                        </button>
                        <a href="new.html" class="navbar-brand">
                            <img class="brand-image" src="lib/images/logo.png">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse top-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-tab active"><a class="capitalized" href="/chef/addMeal">Add A Meal</a>
                            </li>
                            <li class="nav-tab active"><a class="capitalized" href="/logout">Logout</a>
                            </li>
                            <li class="nav-tab"><a><i class="fa fa-lg fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--main content starts here-->
        <section>
            <div class="row section-content">
                <div class="row section-content">
                    <% results.forEach(function(result){ %>
                        <div class="item center active col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <img src="<%= result.cover_image.url %>" class="menu-image img-responsive" alt="<%= result.name %>">
                            <div class="row menu-caption">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 menu-item-details">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 menu-item-title">
                                        <h3><%= result.name %></h3>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 menu-item-description">
                                        <p>
                                            <%= result.description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 menu-ordering">
                                    <button type="submit" class="btn btn-default submit_button">Delete</button>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>

                <!--main content ends here-->
            </div>
        </section>
        <footer>
            <div class="row section-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-content">
                    <h5>&copy; 2015 HungryNow. All Rights Reserved</h5>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../../lib/js/app_base.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: true
        });
    </script>

    <script type="text/javascript">
        $('#add_item_form').on('submit', function(ev) {
            ev.preventDefault();
            var button = $('.submit_button');
            button.prop('disabled', true).text("Uploading Images");
            var fileUploadControl = $("#food_images")[0];
            var isError = false;
            var file;
            if (fileUploadControl.files.length > 0) {
                file = fileUploadControl.files[0];
                var name = "cover.jpg";
                var parseFile = new Parse.File(name, file);
                parseFile.save().then(function() {
                    button.text("Uploading Food Metadata");
                    var FoodItem = Parse.Object.extend("FoodItem");
                    var foodItem = new FoodItem();
                    foodItem.set("cover_image", parseFile);
                    foodItem.set("name", $('#name').val());
                    foodItem.set("description", $('#description').val());
                    foodItem.set("available_on", $('.datepicker').datepicker('getUTCDate').getTime());
                    foodItem.set("available_for", $('#available_for').val());
                    foodItem.set("quantity", $('#quantity').val());
                    foodItem.save(null, {
                        success: function(foodItem) {
                            alert("Food Item Has Been Saved");
                            button.prop('disabled', false);
                            button.text("Submit");
                        },
                        error: function(foodItem, error) {
                            button.prop('disabled', false);
                            button.text("Submit");
                        }
                    });
                }, function(error) {
                    button.prop('disabled', false);
                    button.text("Submit");
                });
            } else {
                isError = true;
                button.prop('disabled', false);
                button.text("Submit");
            }
        });
    </script>

</body>

</html>